/* varela-round-regular - latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: block; 
  src: url('../webfonts/varela-round-v21-latin-regular.woff2') format('woff2'); 
}

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../webfonts/permanent-marker-v16-latin-regular.woff2') format('woff2'); 
}

/* rokkitt-regular - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../webfonts/rokkitt-v39-latin-regular.woff2') format('woff2'); 
}